<h1><center>How about a beer to go with that song?: A Recommender System</center></h1>

## Problem Statement: 
Can we recommend a type and brand of beer based on your music preference? The recommender system will take in a database of beers that will either be scraped or taken from a set that has already been compiled. Beer types will include: IPA, Ale, Lager, etc. as well as the top brands that sell the specific beer types. A separate dataset with features that include music genre, a preference rating, music style, tempo and any other features that would closely resemble beer preference datasets. The type (genre) of song you are listening to will be the input and the output will be about 5-7 beer recommendations. (Number of recommendations will vary depending on information availability).

- *Genre: Music category. Tempo: Fast, Slow, Intermediate.*
- *Beer: type, brand, (preference).*

## Beer Datasets

https://www.kaggle.com/rdoume/beerreviews?select=beer_reviews.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
beer = pd.read_csv('../data/beer_reviews.csv')
beer.head()

In [4]:
beer.shape

(1586614, 13)

In [5]:
beer.isnull().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [9]:
beer = beer[['review_overall','review_aroma','review_appearance','beer_style', 'review_palate', 'review_taste', 'beer_name', 'beer_beerid']]

In [10]:
beer.shape

(1586614, 8)

In [11]:
beer.isnull().sum()

review_overall       0
review_aroma         0
review_appearance    0
beer_style           0
review_palate        0
review_taste         0
beer_name            0
beer_beerid          0
dtype: int64

In [13]:
beer['beer_beerid']

0          47986
1          48213
2          48215
3          47969
4          64883
           ...
1586609    33061
1586610    33061
1586611    33061
1586612    33061
1586613    33061
Name: beer_beerid, Length: 1586614, dtype: int64

------

## Music Datasets

In [36]:
music = pd.read_csv('../data/data.csv')
music.head(2)

,filename,tempo,beats,chroma_stft,rmse,spectral_centroid,spectral_bandwidth,rolloff,zero_crossing_rate,mfcc1,...,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18,mfcc19,mfcc20,label
0,blues.00081.au,103.359375,50,0.380260,0.248262,2116.942959,1956.611056,4196.107960,0.127272,-26.929785,...,14.336612,-13.821769,7.562789,-6.181372,0.330165,-6.829571,0.965922,-7.570825,2.918987,blues
1,blues.00022.au,95.703125,44,0.306451,0.113475,1156.070496,1497.668176,2170.053545,0.058613,-233.860772,...,-2.250578,3.959198,5.322555,0.812028,-1.107202,-4.556555,-2.436490,3.316913,-0.608485,blues

In [40]:
music.shape

(1000, 30)

In [41]:
music.columns

Index(['filename', 'tempo', 'beats', 'chroma_stft', 'rmse',
       'spectral_centroid', 'spectral_bandwidth', 'rolloff',
       'zero_crossing_rate', 'mfcc1', 'mfcc2', 'mfcc3', 'mfcc4', 'mfcc5',
       'mfcc6', 'mfcc7', 'mfcc8', 'mfcc9', 'mfcc10', 'mfcc11', 'mfcc12',
       'mfcc13', 'mfcc14', 'mfcc15', 'mfcc16', 'mfcc17', 'mfcc18', 'mfcc19',
       'mfcc20', 'label'],
      dtype='object')

In [39]:
music['label'].unique()

array(['blues', 'classical', 'country', 'disco', 'hiphop', 'jazz',
       'metal', 'pop', 'reggae', 'rock'], dtype=object)

In [43]:
music = music[['filename', 'tempo','beats', 'label']]
music.head()

         filename       tempo  beats  label
0  blues.00081.au  103.359375     50  blues
1  blues.00022.au   95.703125     44  blues
2  blues.00031.au  151.999081     75  blues
3  blues.00012.au  184.570312     91  blues
4  blues.00056.au  161.499023     74  blues

In [31]:
#continuation of dataset "music" 
#contributor dummified "label" col. I will need to do the same for the previous data "music"
mus_gen = pd.read_csv('../data/data_2genre.csv')
mus_gen.head(2)

,filename,tempo,beats,chroma_stft,rmse,spectral_centroid,spectral_bandwidth,rolloff,zero_crossing_rate,mfcc1,...,mfcc12,mfcc13,mfcc14,mfcc15,mfcc16,mfcc17,mfcc18,mfcc19,mfcc20,label
0,pop.00024.au,117.453835,57,0.410990,0.207584,3301.781785,3175.656592,7302.597509,0.144527,-40.802069,...,-0.568772,0.552448,-1.981371,1.915755,0.076505,-1.270496,1.233082,1.493700,0.949931,1
1,pop.00099.au,78.302557,38,0.360462,0.138195,2765.747194,3222.713605,6873.391771,0.096015,-119.320605,...,1.566938,-2.932391,-1.609138,-0.200545,-2.429376,1.207988,5.848729,1.609469,7.580263,1

In [29]:
mus_gen.shape

(200, 30)

In [38]:
mus_gen['label'].unique()

array([1, 2])

-----

## NEXT STEPS:

1. Create a survey
2. Collect more data (datasets)
3. Scrape Beer website(s) for beer selection