In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('../data/beer_names.csv')
data.head()

,Brewery_id,Name.x,Beer_ID,ABV,IBU,Style,Ounces,Name.y,City,State
0,1,Get Together,2692,0.045,50.0,American IPA,16.0,NorthGate Brewing,Minneapolis,MN
1,1,Maggie's Leap,2691,0.049,26.0,Milk / Sweet Stout,16.0,NorthGate Brewing,Minneapolis,MN
2,1,Wall's End,2690,0.048,19.0,English Brown Ale,16.0,NorthGate Brewing,Minneapolis,MN
3,1,Pumpion,2689,0.060,38.0,Pumpkin Ale,16.0,NorthGate Brewing,Minneapolis,MN
4,1,Stronghold,2688,0.060,25.0,American Porter,16.0,NorthGate Brewing,Minneapolis,MN

In [6]:
data.shape

(2410, 10)