In [1]:
import pandas as pd

In [22]:
data = pd.read_csv('../data/beer_ds_1.csv')
data.head()

,Name,Beer_ID,ABV,IBU,Brewery_id,Style,Ounces
0,Pub Beer,1436,0.050,NaN,409,American Pale Lager,12.0
1,Devil's Cup,2265,0.066,NaN,178,American Pale Ale (APA),12.0
2,Rise of the Phoenix,2264,0.071,NaN,178,American IPA,12.0
3,Sinister,2263,0.090,NaN,178,American Double / Imperial IPA,12.0
4,Sex and Candy,2262,0.075,NaN,178,American IPA,12.0

In [1]:
# data[data['Name'].duplicated() == True]