In [4]:
#pip install regex

In [5]:
#pip install nltk

Collecting nltk
  Downloading nltk-3.5.zip (1.4 MB)
     |████████████████████████████████| 1.4 MB 4.5 MB/s eta 0:00:01
Collecting click
  Using cached click-7.1.2-py2.py3-none-any.whl (82 kB)
Requirement already satisfied: joblib in /Users/EderlynT/opt/anaconda3/envs/work/lib/python3.8/site-packages (from nltk) (0.14.1)
Requirement already satisfied: regex in /Users/EderlynT/opt/anaconda3/envs/work/lib/python3.8/site-packages (from nltk) (2020.5.14)
Requirement already satisfied: tqdm in /Users/EderlynT/opt/anaconda3/envs/work/lib/python3.8/site-packages (from nltk) (4.46.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.5-py3-none-any.whl size=1434677 sha256=a5866aeb4815b757dbed82b7e9c4cee42ca14bb1139e7c901527d0b8566d47af
  Stored in directory: /Users/EderlynT/Library/Caches/pip/wheels/ff/d5/7b/f1fb4e1e1603b2f01c2424dd60fbcc50c12ef918bafc44b155
Successfully built nltk
Installing collected packages: click, nltk
Successfully installed click-7.1.2 nltk-3.5
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

import regex as re
from nltk.tokenize import RegexpTokenizer
from gensim.models.word2vec import Word2Vec
import string

In [8]:
beer = pd.read_csv('../data/beer_reviews.csv')
beer.head()

,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_beerid
0,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,47986
1,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,48213
2,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,48215
3,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,47969
4,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,64883

In [9]:
beer.shape

(1586266, 9)

### Tokenizing Beer Data